/*ESTILIZADO DE LA PESTAÑA DE INICIO*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.hero-content {
    max-width: 600px;
    width: 100%;
}

.hero-content h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #00124D;
}


